{{ $s := slice (.Scratch.Get "content").AcademicEducation (.Scratch.Get "content").ProfessionalTraining (.Scratch.Get "content").SchoolEducation (.Scratch.Get "content").FurtherEducation }}
{{ range $s }}
    {{ with . }}
    <section id="section-{{ .Title | urlize }}">
        <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
        {{ range .Sections }}
            <div class="innerContainer">
                <h3 class="innerLeft">{{ .StartDate }}<br />-<br/> {{ .EndDate }}</h3>
                <div class="innerRight">
                    <h3>{{ .Name }}</h3>
                    <p><a href="{{ .Website }}" target="_blank" rel="noopener noreferrer">{{ .Organisation }}</a></p>
                    <p>{{ .Qualification }}</p>
                </div>
            </div>
        {{ end }}
    </section>
    {{ end }}
{{ end }}
