{{ $data := (.Scratch.Get "content").Experience }}
{{ with $data }}
<section id="section-{{ .Title | urlize }}">
    <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
    {{ range $data.Sections }}
        <div class="innerContainer">
            <h3 class="innerLeft">{{ .StartDate }}<br />-<br/> {{ .EndDate }}</h3>
            <div class="innerRight">
                <h3>{{ .Name }}</h3>
                <p><a href="{{ .Website }}" target="_blank" rel="noopener noreferrer">{{ .Empolyer }}</a></p>
                {{ range .Details }}
                    <p>{{ . }}</p>
                {{ end }}
                <p>
                    {{ range .Skills }}
                        <span class="tag">{{ . }}</span>
                    {{ end }}
                </p>
            </div>
        </div>
    {{ end }}
</section>
{{ end }}
