<div class="fabs">
    {{ if .IsTranslated }}
        {{ range $.Site.Home.AllTranslations }}
            <a href="{{ .RelPermalink }}" class="btn">{{ .Language.LanguageName }}</a>
        {{ end }}
    {{ end }}
    <button class="btn-toggle-theme btn" aria-label="Toggle theme"><i class="fas fa-adjust"></i></button>
    <a href="#" class="btn" aria-label="Go to top"><i class="fas fa-arrow-circle-up"></i></a>    
</div>

<footer>
    &copy; {{ now.Format "2006" }} {{ range .Site.Params.Author }}{{ . }}{{ end }}.
    {{ i18n "themeby" }} <a href="https://www.spech.de" target="_blank" rel="noopener noreferrer">Sebastian Pech</a>.
</footer>
