{{- $data := .Scratch.Get "content" -}}
{{- with resources.Get "photo.jpg" }}
    {{- $photo := . -}}
    {{- if in (slice "jpeg" "png") .MediaType.SubType -}}
        {{- $size := cond (lt (math.Min .Width .Height) 264) (math.Min .Width .Height) 264 -}}
        {{- $photo = .Process (printf "fill %dx%d Top webp q82" (int $size) (int $size)) -}}
    {{- end }}
<img class="sidebar-photo" src="{{ $photo.RelPermalink }}" width="{{ $photo.Width }}" height="{{ $photo.Height }}" alt="{{ with $data.PersonalData }}{{ .Name }}{{ else }}Photo{{ end }}">
{{- end }}

{{- with $data.PersonalData }}
<div class="sidebar-who">
    <b>{{ .Name }}</b>
    {{- with .CurrentWorkplace }}<span>{{ . }}</span>{{ end }}
</div>
{{- end }}

<nav aria-label="Sections">
    <ul>
        {{- range partial "sections.html" . }}
            {{- with index $data . }}
        <li><a href="#section-{{ .Title | urlize }}">{{ partial "icon.html" .Icon }}<span>{{ .Title }}</span></a></li>
            {{- end }}
        {{- end }}
    </ul>
</nav>
